<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://mysql23757.cjalturas.node23757-cjalturas.jelastic.saveincloud.net:3306/cjalturas</property>
    <property name="hibernate.default_schema">cjalturas</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">GLRbob82585</property>
    <mapping resource="com/cjalturas/model/Person.hbm.xml" />
    <mapping resource="com/cjalturas/model/Group.hbm.xml" />
    <mapping resource="com/cjalturas/model/Coach.hbm.xml" />
    <mapping resource="com/cjalturas/model/Inscription.hbm.xml" />
    <mapping resource="com/cjalturas/model/Rol.hbm.xml" />
    <mapping resource="com/cjalturas/model/User.hbm.xml" />
    <mapping resource="com/cjalturas/model/Economicsector.hbm.xml" />
    <mapping resource="com/cjalturas/model/Learner.hbm.xml" />
    <mapping resource="com/cjalturas/model/Course.hbm.xml" />
    <mapping resource="com/cjalturas/model/Permit.hbm.xml" />
    <mapping resource="com/cjalturas/model/Status.hbm.xml" />
    <mapping resource="com/cjalturas/model/Enterprise.hbm.xml" />
  </session-factory>
</hibernate-configuration>
